.wrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0px 144px;
}

.main {
    display: flex;
    width: 100%;
    position: relative;
}

.left {
    display: flex;
    width: 50%;
    align-items: center;
    column-gap: 25px;
    color: #637381;
}

.home_btn {
    text-decoration: none;
    color: #637381;

    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    color: #637381;

}

.right {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.header_elem {
    border-left: solid rgb(223, 217, 217) 1px;
    height: 24px;
}

.header_btn {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 16px;

    width: 83px;
    height: 36px;
    color: white;
    background: #212B36;
    border-radius: 8px;
}

.header_rout {
    border: none;
}

/* Modal container */
.modal {
    position: absolute;
        top: -133px;
            left: -180px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Modal content */
.modal_content {
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    max-height: 80vh;
    overflow: auto;
}

/* Close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}



.modal_body a {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 34px;
    color: #212B36;
}

.modal_body a:hover {
    text-decoration: underline;
}

.left button {
    border: none;
    background-color: white;
    color: #637381;
    font-size: 16px;
    display: flex;
    column-gap: 6px;
    align-items: center;
}

.left button::before {
    content: "\2022";
    color: #FA541C;
    font-weight: 900;
    display: inline-block;
    width: 1em;
    font-size: 25px;
}

.left button::after {
    content: ">";
    color: rgb(27, 27, 27);
    transform: rotate(90deg);
    font-weight: 100;
    display: inline-block;
    width: 1em;
    font-size: 15px;
}

.header_rout {
    border: none;
}

.mob_head {
    display: none;
}


@media screen and (max-width: 400px) {
    .wrapper {
        padding: 0 20px;
        width: 86%;
    }

    .mob_head {
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 5vh;
        margin: 10px auto;
    }

    .left {
        display: none;
    }

    .right {
        display: none;
    }

    .burger {
        display: flex;
        gap: 15px;
        min-height: fit-content;
    }

    .modal_content {
        position: absolute;
        height: 100%;
        bottom: -59px;
        left: 55px;
        z-index: 100;
    }

    .modal_body {
        line-height: 45px;
    }
}