.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.main{ 
    display: flex;
    width: 100%;
}
.left {
  display: flex;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  color: #637381;
}

.right {
  display: flex;
  width: 25%;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.header_elem {
  border-left: solid rgb(223, 217, 217) 1px;
  height: 24px;
}

.header_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;

  width: 83px;
  height: 36px;
  color: white;
  background: #212b36;
  border-radius: 8px;
}
.header_rout {
  border: none;
}

/* @media all {
  .wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 30px;
  }
  .main{
    display: flex;
    justify-content: space-between;
    
  }
} */
