.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.wrappermain {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 144px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 40px;
}

.text_first {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.text_two {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
}

.text_three {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
}

.right {
    display: flex;
    width: 40%;
    flex-direction: column;


}

.ikon {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 342px;
    height: 700px;
    gap: 30px;

    background: #F9FAFB;
    border-radius: 20px;


}

#text_color {
    color: #919EAB;

}

.end_img {
    padding: 40px;
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-top: -100px;
}

.end_img img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.images {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.imagess {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.imagess img {
    border-radius: 20px;
}
@media (max-width: 900px) {
    .wrappermain{
        display: flex;
        flex-direction: column-reverse;
    }
    .left{ 
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0px;
        align-items: center;
    }
    .text_three li{ 
        margin: 0px;
    }
    .right{ 

        gap: 40px;
        width: 100%;
        align-items: center;
    }
    .end_img{ 
        gap: 30px;
        margin-top: -130px;
    }
    .imagess{ 
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    #foto1{ 
        display: none;
    }
    #foto2{
        display: none;
    }
    .imagess img{ 
        width: 300px;
        align-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .images h1{ 
        text-align: center;
    }

.slide {
    width: 260px;
    height: 260px;
    object-fit: contain;
}

.images .slide_btn button {
    border: none;
    font-size: 20px;
    font-weight: 700;
    background-color: white;
}

.slide_box {
    width: 100%;
    height: 300px;
}

.slide_head {
    height: 15vh;
    width: 93%;
    display: flex;
    justify-content: space-between;
}

.slide_box img {
    width: 80%;
    height: 240px;
    object-fit: contain;
}

.slide_btn {
    width: 80px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    opacity: 0.6;
    align-self: flex-start;
}

.card {
    width: 335px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_img {
    width: 335px;
    height: 345px;

}

.card_img img {
    border-radius: 10px;
    width: 335px;
    height: 335px;
    object-fit: cover;
}

.card_title {
    padding-left: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #919EAB;
}

.card_info {
    padding-left: 10px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #212B36;
}