.wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  width: 100%;
  height: 100%;
  /* position: absolute; */
  right: 0%;

}
@media (max-width: 900px)  {
    .wrap{ 
      display: flex;
      flex-direction: column;
      width: 100%;
    }
}
.wrap p {
  color: silver;
}
.wrap h1 {
  color: black;
  font-size: 18px;
}

.wrap img {
  border-radius: 20px;
}

/* .wrap span {
  border-radius: 20px;
  content: "";
  background: black;
  opacity: 0;
  transition: all 4s ease;
  position: absolute;
}

.wrap span:hover {
  opacity: 1;
}
*/
span{ 
  width: 100%;
  
}