.main {
  width: 100%;
  display: flex;

  align-items: center;
}

.header {
  margin-left: 200px;
  margin-top: 100px;
}


.subTitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #919EAB;
}

.Title {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #212B36;
}

.main_left {
  margin-top: 150px;
  height: 100vh;
  width: 25%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.card_left {
  width: 172px;
  height: 230px;
  background-image: url(../../foto/moreimage2.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin-bottom: 150px;
}

.card_sutTitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;

  opacity: 0.48;
}

.card_title {
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.mid_item {
  display: flex;
  width: 77%;
  justify-content: space-around;
  box-shadow: -24px 24px 72px -8px rgba(145, 158, 171, 0.24);
  border-radius: 16px;
}

.mid_top {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.main_mid {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mid_card {
  width: 142px;
  height: 142px;
  background-image: url(../../foto/moreimage3.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.mid_title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FA541C;
}

.mid_subTitle {
  font-family: 'Barlow', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  color: #212B36;
}

.mid_text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 26px;
  color: #637381;
}

.mid_btn {
  border: none;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  color: #637381;
  word-spacing: 5px;
}

:hover.mid_btn {
  color: black;
}


.mid_img {
  width: 230px;
  height: 310px;
  background-image: url(../../foto/moreimage.png);
  border-radius: 20px;
  margin-right: 27px;
}

.mid_imgb {
  width: 230px;
  height: 310px;
  border-radius: 10px;
  background-image: url(../../foto/moreimage6.png);
}

.mid_info {
  width: 230px;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mid_bottom {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.main_right {
  height: 100vh;
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card_right {
  width: 172px;
  height: 230px;
  background-image: url(../images/more_card_right.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.mob_card {
  display: none;
}

@media screen and (max-width: 375px) {

  .main_left,
  .main_mid,
  .main_right {
    display: none;
  }

  .mob_card {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 50px;
    gap: 20px;
  }

  .header {
    margin-left: 0;
    text-align: center;
  }
}