.wrapper{ 
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.long{ 
    font-size: 64px;
}

.endl{ 
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    width: 99%;
    color: black;
    font-size: 15px;
    font-weight: 550;
}
.btn{ 
    width: 30%;
    background: #FA541C;
    border-radius: 8px;
    color: white;
    height: 50px;
    align-items: center;
}
.footer{ 
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.colortext{ 
    color: orange;
}
